[submodule "bindings/qbe"]
	path = bindings/qbe
	url = git://c9x.me/qbe.git
[submodule "bindings/sokol"]
	path = bindings/sokol
	url = https://github.com/floooh/sokol.git
[submodule "bindings/wuffs"]
	path = bindings/wuffs
	url = https://github.com/google/wuffs.git
[submodule "bindings/tracy"]
	path = bindings/tracy
	url = https://github.com/wolfpld/tracy.git
