[submodule "bindings/sokol"]
	path = bindings/sokol
	url = https://github.com/floooh/sokol.git
[submodule "bindings/tracy"]
	path = bindings/tracy
	url = https://github.com/wolfpld/tracy.git
[submodule "bindings/cimgui"]
	path = bindings/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "bindings/chibicc"]
	path = bindings/chibicc
	url = https://github.com/rui314/chibicc.git
