name: tests
on: [push]

jobs:
  test:
    name: run_tests macos-arm64
    runs-on: macos-14
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - run: ./boot/strap.sh
      - uses: actions/upload-artifact@v4
        with:
          name: built_on_macos_arm64
          path: target/release
      - run: target/release/franca-macos-arm64 examples/web/build.fr
      - uses: actions/upload-pages-artifact@v3
        with:
          path: target/web
  deploy:
    needs: test
    if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: wnebsnite
        id: deployment
        uses: actions/deploy-pages@v4
  test2:
    name: run_tests macos-amd64
    runs-on: macos-15-intel
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - run: ./boot/strap.sh
      - uses: actions/upload-artifact@v4
        with:
          name: built_on_macos_amd64
          path: target/release
  test3:
    name: run_tests linux-amd64
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - run: ./boot/strap.sh
      - uses: actions/upload-artifact@v4
        with:
          name: built_on_linux_amd64
          path: target/release
  test4:
    name: run_tests linux-arm64
    runs-on: ubuntu-24.04-arm
    timeout-minutes: 15
    steps:
      - uses: actions/checkout@v4
      - run: ./boot/strap.sh
      - uses: actions/upload-artifact@v4
        with:
          name: built_on_linux_arm64
          path: target/release
  repro:
    name: repro
    runs-on: ubuntu-latest
    needs: [test, test2, test3, test4]
    steps:
      - uses: actions/download-artifact@v4
        with: 
          path: .
      - run: diff built_on_macos_arm64 built_on_macos_amd64
      - run: diff built_on_macos_arm64 built_on_linux_amd64
      - run: diff built_on_macos_arm64 built_on_linux_arm64
